table {
  width: 410px;
  height: 396px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.55), transparent;
}
tr {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.keypad {
  width: 100px;
  height: 80px;
  font-size: 30px;
}
.blue {
  background-color: rgba(1, 189, 216, 0.4);
}
.number-input {
  background-color: rgba(236, 234, 36, 0.6);
}
.yellow {
  background-color: rgba(236, 234, 36, 0.6);
}
.operator {
  background-color: rgba(200, 234, 96, 1);
}
#display {
  width: 400px;
  height: 60px;
  font-size: 30px;
  background-color: rgba(43, 207, 229, 0.25);
}
